<script>
    (function (ns) {
        function createBtn(
            name, type, action, value, isSmall = false
        ) {
            const btn = document.createElement('button')
            const classList = ["btn"]
            switch (type) {
                case 'success':
                    classList.push("btn-success")
                    break;
                case 'danger':
                    classList.push("btn-danger")
                    break;
                case 'primary':
                    classList.push("btn-primary")
                    break;
            }
            if (isSmall) {
                classList.push("btn-sm")
            }
            btn.className = classList.join(' ')
            btn.setAttribute('data-action', action)
            btn.setAttribute('data-value', value)
            btn.innerText = name
            return btn
        }

        function createInput(
            id, type = 'text', disabled = false, action = null
        ) {
            const input = document.createElement('input')
            input.setAttribute('data-id', id)
            input.disabled = disabled
            input.type = type
            if (action) {
                input.setAttribute('data-action', action)
            }
            return input
        }

        function asyncCall(funcName, ...args) {
            return new Promise((resolve, reject) => {
                google.script.run
                    .withSuccessHandler(resolve)
                    .withFailureHandler(reject)[funcName](...args);
            });
        }

        function createMultiBtn(name, type, buttons) {
            const div = document.createElement('div')
            div.className = "dropdown"
            const btn = document.createElement('button')
            const classList = ["btn", "btn-primary", "dropdown-toggle", "btn-sm"]
            btn.setAttribute('data-bs-toggle', "dropdown")
            btn.type = "button"

            switch (type) {
                case 'success':
                    classList.push("btn btn-success")
                    break;
                case 'danger':
                    classList.push("btn btn-danger")
                    break;
                case 'primary':
                    classList.push("btn btn-primary")
                    break;
            }
            btn.className = classList.join(' ')
            btn.innerText = name
            const ulEl = document.createElement('ul')
            ulEl.className = "dropdown-menu"
            buttons.forEach(btn => {
                const li = document.createElement('li')
                li.appendChild(btn)
                ulEl.appendChild(li)
            })
            btn.appendChild(ulEl)
            div.appendChild(btn)

            return div
        }

        ns.Common = {
            createBtn,
            asyncCall,
            createInput,
            createMultiBtn,
        };

    })(window.App = window.App || {})

</script>