<script>
    (function (ns) {
        let root = null

        class Page {
            constructor(id, name, element, pageApp, hide) {
                this.id = id
                this.name = name
                this.element = element
                this.pageApp = pageApp
                this.hide = hide
            }
        }

        function init(
            element,
            isAdmin
        ) {
            root = element
            Object.keys(routerPages).forEach(page => {
                let pageEl = routerPages[page]
                if (!pageEl.hidden) {
                    const btn = createNavButton(pageEl.label, page)
                    root.appendChild(btn)
                }
            })
            root.addEventListener('click', clickHandler)
        }

        function clickHandler(event) {
            const action = event.target.dataset.action
            if (action === 'selectPage') {
                navigate(event.target.dataset.value)
            }
        }

        function add(
            name,
            element,
            pageApp = null,
            hide = false,
        ) {
            pageElements[name] = new Page(name, element, pageApp, hide)
        }

        function hideAll() {
            Object.keys(pageElements).forEach(key => {
                if (pageElements[key]?.element) {
                    pageElements[key].element.style.display = "none"
                }
            })
        }

        function destroyAll() {
            Object.keys(pageElements).forEach(key => {
                if (pageElements[key]?.pageApp) {
                    pageElements[key].pageApp.destroy()
                }
            })
        }

        function createNavButton(label, name) {
            const btn = document.createElement('button')
            btn.setAttribute("data-value", name)
            btn.setAttribute("data-action", 'selectPage')
            btn.className = "btn btn-secondary"
            btn.style = "margin-right:5px;"
            btn.innerText = label
            return btn
        }

        function destroy() {
            root.removeEventListener('click', clickHandler)
        }

        ns.Navigation = {
            init,
            add,
            destroy,
        };
    })(window.App = window.App || {});

</script>